@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.fade-enter-active {
  animation: fade 0.2s forwards;
}

.fade-exit-active {
  animation: fade 0.2s reverse forwards;
}
